name: Despliegue cuando estamos en desarrollo

on:
  push:
    branches: [ "develop" ] # lo activamos en la rama de desarrollo logicamente

jobs:
  update-dev:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Copiar archivos al servidor
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        source: "nginx/default.conf,html/*"
        target: "~/app-dev"

    - name: Reiniciar Nginx
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          # Aseguramos que el contenedor de dev esté corriendo
          # Fíjate en el -v (volumen). Conectamos el exterior con el interior.
          
          if [ ! "$(docker ps -q -f name=web-dev)" ]; then
              if [ "$(docker ps -aq -f name=web-dev)" ]; then
                  docker rm web-dev
              fi
              docker run -d \
                --name web-dev \
                -p 8081:80 \
                -v ~/app-dev/html:/usr/share/nginx/html \
                -v ~/app-dev/nginx/default.conf:/etc/nginx/conf.d/default.conf \
                nginx:alpine
          fi

          # Recargar configuración sin tirar el servidor
          docker exec web-dev nginx -s reload